.main{
  width: 100vw;
  height: 100vh;
  background:url(assets/back.png);
  display: flex;
}
.form{
  width: 70%;
  height: 60%;
  margin-left: 10%;
  margin-top: 5%;
  display: flex;
  padding: 40px;
  background-color: white;
  border-radius: 15px;
}
.left{
  width: 50%;
  margin-left: 10%;
}
.right{
  width: 50%;
  height: 100%;
}